<ion-header>
  <ion-navbar color="back">
    <ion-title >Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="homeback">
    <img src="assets/imgs/izone.png" width=100%>
    <br>
    <ion-list>
    <ion-item *ngFor="let post of posts; let i = index" (click)="playvideo(i)">
<!-- <video x-webkit-airplay="allow" allowfullscreen alt="Calvary Worship Center" -->
    <!-- width=100% height="200px" [poster]="post.image" -->
    <!-- [src]="post.url" -->
    <!-- controls ></video> -->
    </ion-item>
  </ion-list>
  <ion-list>
      <ion-item *ngFor="let post of movies">
  <video x-webkit-airplay="allow" allowfullscreen alt="Calvary Worship Center"
      width=100% height="200px" [poster]="post.image"
      [src]="post.url"
      controls ></video>
      </ion-item>
    </ion-list>
    <ion-list>
        <ion-item *ngFor="let post of enters">
    <video x-webkit-airplay="allow" allowfullscreen alt="Calvary Worship Center"
        width=100% height="200px" [poster]="post.image"
        [src]="post.url"
        controls ></video>
        </ion-item>
      </ion-list>
      <ion-list>
          <ion-item *ngFor="let post of musics">
      <video x-webkit-airplay="allow" allowfullscreen alt="Calvary Worship Center"
          width=100% height="200px" [poster]="post.image"
          [src]="post.url"
          controls ></video>
          </ion-item>
        </ion-list>
        <ion-list>
            <ion-item *ngFor="let post of kids">
        <video x-webkit-airplay="allow" allowfullscreen alt="Calvary Worship Center"
            width=100% height="200px" [poster]="post.image"
            [src]="post.url"
            controls ></video>
            </ion-item>
          </ion-list>
</ion-content>
